main{
    .contacto{
        text-align: center;
        align-self: center;
        padding: 2rem;

        .mapa{
            padding: 2rem;
        }
    }
    .formulario{
        text-align: center;
        align-self: center;
        padding: 2rem;
    }

}