

body{
    background-color: white;
    max-width: 1080px;
    margin: 0 auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template: 
    "header header header"
    "main main main"
    "footer footer footer";
    font-family: var(--font-primary);
    color: var(--secondary);

}


.flex-row{
    display: flex;
}
.flex-column{
    display: flex;
    flex-direction: column;
}



main{
    grid-area: main;
    background-color: white;
    .contenido__titulo{
        font-size: 6em;
        text-align: center;
        position: relative;
        width: 100%;
        top: 17rem;
        right: 10rem;
        animation-duration: 5s;
        animation-name: aparecer;
        animation-direction: alternate;

        @keyframes aparecer{
            0%{
                opacity: 0;
            }
            50%{
                opacity: 1;
            }
            100%{
                opacity: 2;
            }
        }
    }
    .contenido__somos{
        font-size: 2em;
        text-align: center;
        position: relative;
        width: 50%;
        top: 20rem;
        right: 10rem;
        animation-duration: 5s;
        animation-name: desplazar;

        @keyframes desplazar{
            from{
                margin-left: -100%;
                width: 200%;
            }
            to{
                margin-left: 20%;
                width: 50%;
            }
        }
    }
    .img{
        width: 100%;
        height: auto; 
    }
}
