/* Import */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Rubik:ital,wght@0,600;1,300;1,400&display=swap');
/* Aca importamos por ejemplo las fuentes que usaremos en el proyecto */

/* Variables */

:root{
    --principal: white; 
    --secondary: rgba(0, 0, 0, 0.521);
    --third: black;
    --font-primary: 'Anton', sans-serif;
    --font-secondary: 'Rubik', sans-serif;
    --text-lg: 2em;
    --text-md: 1.8em;

}


/* Globales */

html{
    font-size: 62.5%;
}
body{
    background-color: white;
    max-width: 1080px;
    margin: 0 auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3 , auto);
    grid-template-rows: repeat(3 , auto);
    grid-template-areas: "header header header"
                        "main main main"
                        "footer footer footer";
    font-family: var(--font-primary);
    color: var(--secondary);

}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

/* Helpers (ayudas) */

.flex-row{
    display: flex;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
/* .container{
    max-width: 1080px;
    margin: 0 auto;
} */

/* Header */

header {
    grid-area: header;
    background-color: white;
}

header .navegacion {
    min-height: 10vh;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    flex-wrap: wrap;
}
header .logo{
    flex-basis: 30%;
    
}

header .menu {
    flex-basis: 50%;
    justify-content: space-between;
    padding: 1rem;
}

header .menu__lista {
    border: 2px solid var(--principal);
    border-radius: 6px;
    transition: .5s ease-in-out;
}
.menu .menu__lista:hover{
    border: 2px solid var(--secondary);
}
.menu .menu__lista:hover .submenu{
    display: block;
}
.menu .menu__lista .menu__link{
    font-size: var(--text-md);
    padding: 1rem;
}
header .submenu{
    display: none;
    position: absolute;
}
.submenu .submenu__lista .submenu__link{
    padding: 1rem;
    font-size: 1.6em;
}
.submenu .submenu__lista .submenu__link:hover{
    background-color: var(--secondary);
    border-radius: 6px;
    color: var(--principal);
    transition: .5s ease-in-out;
} 

/* footer */

footer{
    grid-area: footer;
    background-color: white;
}
footer .pie{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "pie1 pie2 pie3";
    max-width: 1080px;
    margin: 0 auto;
}
footer .pie1{
    grid-area: pie1;
    flex-basis: 40%;
    text-align: center;
    padding: 0 2rem;
}
footer .pie1 .pie__titulo{
    position: relative;
    top: 10px;
    color: var(--secondary);
    padding: 1rem;
}
footer .pie__menu{
    padding: 1rem 2rem;
}
.pie__menu .pie__lista .pie__link{
    padding: 0.5rem;
    font-size: 1.2em;
}
.pie__menu .pie__lista .pie__link:hover{
    background-color: var(--secondary);
    color: var(--principal);
    border-radius: 4px;
    transition: .5s ease-in-out;
}

footer .pie2{
    grid-area: pie2;
    flex-basis: 30%;
    text-align: center;
    padding: 0 2rem;
}
footer .pie2 .pie2__contacto{
    font-size: 2em;
    position: relative;
    top: 10px;
    color: var(--secondary);
    padding: 1rem;
}
footer .pie2 .contacto__lista{
    padding: 1rem;
}
footer .pie2 .contacto__lista .contacto__opciones{
    padding: 1rem;
}
footer .pie2 .pie2__derechos{
    position: relative;
    top: 10px;
    color: var(--third);
}
footer .pie3{
    grid-area: pie3;
    flex-basis: 30%;
    text-align: center;
    padding: 0 2rem;
}
footer .pie3 .pie3__siguenos{
    font-size: 2em;
    position: relative;
    top: 10px;
    color: var(--secondary);
    padding: 1rem;
}
footer .pie3 .redes{
    position: relative;
    top: 20px;
}

/* INDEX */
/* Main */

main{
    grid-area: main;
    background-color: white;
}

main .contenido .contenido__titulo{
    font-size: 6em;
    text-align: center;
    position: relative;
    width: 100%;
    top: 17rem;
    right: 10rem;
    animation-duration: 5s;
    animation-name: aparecer;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes aparecer{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 2;
    }
}


main .contenido .contenido__somos{
    font-size: 2em;
    text-align: center;
    position: relative;
    width: 50%;
    top: 20rem;
    right: 10rem;
    animation-duration: 10s;
    animation-name: desplazar;
    animation-iteration-count: infinite;
}
@keyframes desplazar{
    from{
        margin-left: -100%;
        width: 200%;
    }
    to{
        margin-left: 20%;
        width: 50%;
    }
}

.img{
    width: 100%;
    height: auto;
}
/* Contacto */
/* main */

main .contacto{
    text-align: center;
    align-self: center;
    padding: 2rem;
}
main .contacto .mapa{
    padding: 2rem;
}
main .formulario{
    text-align: center;
    align-self: center;
    padding: 2rem;
}